
.row {
    display: flex;
    flex-direction: row;
}

.IpfsImageDrop .iid-dropZone {
    border: 1px dotted silver;
    width: 200px;
    height: 200px;
}

.IpfsImageDrop .iid-dropZone.ready {

}


.IpfsImageDrop .iid-dropZone.uploading {
	background-color: yellow;

}

.IpfsImageDrop .iid-dropZone.draggingOver {
  background-color: silver;
}

